"*":
  "exception-reporting":
    userId: "4c7649fe-542d-8db1-5f36-d42f206336ea"
  welcome:
    showOnStartup: false
  "merge-conflicts": {}
  core:
    disabledPackages: [
      "linter-csslint"
      "linter-scss-lint"
      "autoclose-html"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  minimap: {}
  editor:
    fontSize: 18
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "4c7649fe-542d-8db1-5f36-d42f206336ea"
  "git-plus":
    general:
      _analyticsUserId: "a3dfc0ad-20f5-4a28-b7ee-6d0684ec5062"
  "highlight-selected": {}
  "language-babel":
    disableWhenNoBabelrcFileInPath: true
  linter:
    errorPanelHeight: 28
    ignoreVCSIgnoredFiles: false
  "linter-eslint":
    useGlobalEslint: true
  "linter-htmlhint": {}
  "linter-sass-lint":
    globalSassLint: true
  "linter-scss-lint":
    executablePath: "node-scc-lint"
  "merge-conflicts": {}
  minimap: {}
  pigments: {}
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".babel.regexp.source":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    preferredLineLength: 120
".js.jsx.source":
  editor:
    preferredLineLength: 120
